<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Adicionar Partida</title>
</head>
<body>
    <h1>Adicionar Resultado da Partida</h1>
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- Para CSRF -->

        <label>{{ form.team_a_id.label }}</label>
        {{ form.team_a_id() }}<br>

        <label>{{ form.team_b_id.label }}</label>
        {{ form.team_b_id() }}<br>

        {{ form.submit() }}
    </form>

    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>
